/*ALL SERVICES*/
.cont-all-service{
    // padding: 90px 0;
    display: flex;
    flex-direction: column;

    .header-section{
        justify-content: left;
        h2{
            font-size: 1.94em;
           
        }
    }
}
.cont-all-service:first-child{
    padding: 45px 0;
}

.default-all-service-box {
        ul{
            color: $color2;
        }
        p, ul{
            margin-bottom: 30px;
       }
       p:last-child, ul:last-child{
            margin-bottom: 0px;
       }
}

.img-all-service-box{
    display: flex;
    align-items: flex-start;
}

.box-all-service{
    padding: 45px 0;
    display: flex;
}

.box-all-service:last-child{
    margin-bottom: 0;
}

