/*Contacts*/
.text-contact{
    text-align: center;
    margin-bottom: 40px;;
}

.cont-contacts{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.call-to-action {

    .btn{
        font-size: 1.22em;
    }
  
}

#box-btn-margin{
    margin: 50px 0;
}